{% set APP_TITLE = env.APP_TITLE | default('noVNC') -%}
{% set REVERSE_PROXY = env.REVERSE_PROXY | default('yes') -%}
{% set CRONJOBS = env.CRONJOBS | default('yes') -%}
{% set VNC_EXPOSE = env.VNC_EXPOSE | default('no') -%}
{% set VNC_PORT = env.VNC_PORT | default('5900') -%}
{% set VNC_OPTS = env.VNC_OPTS | default('-geometry 1920x1080 -depth 32 -FrameRate 30 -SecurityTypes None -AlwaysShared -AcceptKeyEvents -AcceptPointerEvents -AcceptSetDesktopSize -SendCutText -AcceptCutText -UseIPv6=0') -%}
{% set EASY_NOVNC = env.EASY_NOVNC | default('yes') -%}
{% set EASY_NOVNC_OPTS = env.EASYVNC_OPTS | default('') -%}
{% set NOVNC_PARAMS = env.NOVNC_PARAMS | default('resize=remote') -%}
[supervisord]
user=root
nodaemon=true
pidfile=/tmp/supervisord.pid
logfile=/dev/fd/1
logfile_maxbytes=0
directory=%(ENV_HOME)s

[program:x11]
priority=0
user=app
group=app
command=/usr/bin/Xtigervnc -desktop "{{APP_TITLE}}" -rfbport {{VNC_PORT}} {% if getboolean(VNC_EXPOSE) -%}-localhost{%- endif %} {{VNC_OPTS}} :0
autorestart=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true

{% if getboolean(EASY_NOVNC) -%}
[program:easy-novnc]
priority=0
user=app
group=app
command=/usr/local/bin/easy-novnc --addr {{NOVNC_ADDR}} --host localhost --port {{VNC_PORT}} --no-url-password --basic-ui --novnc-params "{{NOVNC_PARAMS}}" {{EASYVNC_OPTS}}
autorestart=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true

{%- endif %}
{% if getboolean(REVERSE_PROXY) -%}
[program:nginx]
priority=0
command=/usr/sbin/nginx -c /etc/nginx/nginx.conf -g "daemon off;"
autostart=true
autorestart=true
startretries=5
numprocs=1
startsecs=0
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true

{%- endif %}
{% if getboolean(CRONJOBS) -%}
[program:cron]
priority=0
command=/usr/sbin/cron -f -L 15
autostart=true
autorestart=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true
{%- endif %}

[program:openbox]
priority=1
user=app
group=app
command=/usr/bin/openbox-session
autorestart=true
stdout_logfile=/dev/fd/1
stdout_logfile_maxbytes=0
redirect_stderr=true
{% for item in items %}{% if item.supervisord %}
{{ supervisord(item.supervisord) }}
{% endif %}{% endfor %}
