gtk-icon-theme-name = "{{ env.OPENBOX_ICON_THEME_NAME | default('Papirus-Dark') }}"
gtk-theme-name="{{ env.OPENBOX_THEME_NAME | default('Nightmare') }}"
gtk-font-name = "{{ env.OPENBOX_THEME_FONT | default('DejaVu Sans 9') }}"
